<!--Main Navigation-->
<header>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark d-lg-block" style="z-index: 2000;">
        <div class="container-fluid">
            <!-- Navbar brand -->
            <a class="navbar-brand nav-link" target="_blank" href="https://mdbootstrap.com/docs/standard/">
                <strong>TheGoldenGun</strong>
            </a>
            <button class="navbar-toggler" type="button" data-mdb-toggle="collapse" data-mdb-target="#navbarExample01"
                    aria-controls="navbarExample01" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fas fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarExample01">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item active">
                        <a class="nav-link" aria-current="page" href="{{ path('app_main') }}">Accueil</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_category') }}" rel="nofollow">Catégories</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" target="_blank">A propos</a>
                    </li>
                </ul>

                <ul class="navbar-nav d-flex flex-row ms-auto">
                    <!-- Icons -->
                    {% if app.user %}
                        <li class="nav-item me-3 me-lg-0">
                            <a class="nav-link" href="#" rel="nofollow">
                                <i class='bx bxs-cart' style='color:#ffffff' ></i>
                            </a>
                        </li>
                        <li class="nav-item me-3 me-lg-0">
                            <a class="nav-link" href="{{ path('app_logout') }}" rel="nofollow">
                                <i class='bx bx-user' style='color:#ffffff' ></i>
                            </a>
                        </li>
                    {% else %}
                        <li class="nav-item me-3 me-lg-0">
                            <a class="nav-link" href="{{ path('app_login') }}" rel="nofollow">
                                <i class='bx bxs-user' style='color:#ffffff'  ></i>
                             </a>
                        </li>
                    {% endif %}

                    <li class="nav-item me-3 me-lg-0">
                        <a class="nav-link" href="" rel="nofollow" target="_blank">
                            <i class="bx bxs-sun"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- Navbar -->
</header>
<!--Main Navigation-->


<!-- Navbar alternative CSS-->

{#    <header class="header">#}
{#        <a href="#" class="logo"><img src="{{ asset('assets/css/img/logoreel.png') }}" alt="logo" class="w-48"></a>#}

{#        <input type="checkbox" id="check">#}
{#        <label for="check" class="icons">#}
{#            <i class="bx bx-menu" id="menu-icon"></i>#}
{#            <i class="bx bx-x" id="close-icon"></i>#}
{#        </label>#}

{#        <nav class="navbar-css">#}
{#            <a href="#" style="--i:0;">Accueil</a>#}
{#            <a href="#" style="--i:1;">Catégories</a>#}
{#            <a href="#" style="--i:3;"><i class='bx bx-user'></i></a>#}
{#            <a href="#" style="--i:4;"><i class='bx bx-cart'></i></a>#}
{#        </nav>#}
{#    </header>#}
