{% extends 'base.html.twig' %}

{% block body %}

    <section class="h-100 h-custom">
        <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col">
                    <div class="card">
                        <div class="card-body p-4">

                            <div class="row">

                                <div class="col-lg-7">
                                    <h5 class="mb-3"><a href="{{ path('product_index') }}" class="text-body"><i class="fas fa-long-arrow-alt-left me-2"></i>Continuer mes achats</a></h5>
                                    <hr>

                                    <div class="d-flex justify-content-between align-items-center mb-4">
                                        <div>
                                            <p class="mb-1">Mon panier</p>
                                            <p class="mb-0">Vous avez articles dans votre panier</p>
                                        </div>
                                        <div>
                                            <p class="mb-0"><span class="text-muted">Trier par:</span> <a href="#!" class="text-body">Prix <i class="fas fa-angle-down mt-1"></i></a></p>
                                        </div>
                                    </div>

                                {# Boucle for avec les produits #}
                                    {% for element in data %}
                                        <div class="card mb-3">
                                            <div class="card-body">
                                                <div class="d-flex justify-content-between">
                                                    {#  Image #}
                                                    <div class="d-flex flex-row align-items-center">
                                                        <div>
                                                            <img
                                                                    src="{{ asset('assets/css/img/armes1.jpg') }}"
                                                                    class="img-fluid rounded-3" alt="Shopping item" style="width: 65px;">
                                                        </div>
                                                        <div class="ms-3">
                                                            <h5>{{ element.product.productLabel }}</h5>
                                                            <p class="small mb-0">{{ element.product.productDescription }}</p>
                                                        </div>
                                                    </div>
                                                    <div class="d-flex flex-row align-items-center">
                                                        <div style="width: 50px;">
                                                            <h5 class="fw-normal mb-0">{{ element.quantity }}</h5>
                                                        </div>
                                                        <div style="width: 80px;">
                                                            <p class="mb-0">{{ element.quantity * element.product.productPrice }}€</p>
                                                        </div>
                                                        <a href="#!" style="color: green;"><i class="fa-solid fa-plus m-2"></i></a>
                                                        <a href="#!" style="color: yellow;"><i class="fa-solid fa-minus m-2"></i></a>
                                                        <a href="#!" style="color: red;"><i class="fas fa-trash-alt m-2"></i></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    {% else %}
                                        {# Si le panier est vide #}
{#                                        <tr>#}
{#                                            <td colspan="5">Votre panier est vide</td>#}
{#                                        </tr>#}
                                    {% endfor %}

                                </div>

                                <div class="col-lg-5">

                                    <div class="card bg-primary text-white rounded-3">
                                        <div class="card-body">
                                            <div class="d-flex justify-content-between align-items-center mb-4">
                                                <h5 class="mb-0">Détails panier</h5>
                                                <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/avatar-6.webp"
                                                     class="img-fluid rounded-3" style="width: 45px;" alt="Avatar">
                                            </div>

                                            <p class="small mb-2">Type de carte</p>
                                            <a href="#!" type="submit" class="text-white"><i
                                                        class="fab fa-cc-mastercard fa-2x me-2"></i></a>
                                            <a href="#!" type="submit" class="text-white"><i
                                                        class="fab fa-cc-visa fa-2x me-2"></i></a>
                                            <a href="#!" type="submit" class="text-white"><i
                                                        class="fab fa-cc-amex fa-2x me-2"></i></a>
                                            <a href="#!" type="submit" class="text-white"><i class="fab fa-cc-paypal fa-2x"></i></a>

                                            <form class="mt-4">
                                                <div class="form-outline form-white mb-4">
                                                    <input type="text" id="typeName" class="form-control form-control-lg" siez="17"
                                                           placeholder="Cardholder's Name" />
                                                    <label class="form-label" for="typeName">Titulaire de la carte</label>
                                                </div>

                                                <div class="form-outline form-white mb-4">
                                                    <input type="text" id="typeText" class="form-control form-control-lg" siez="17"
                                                           placeholder="1234 5678 9012 3457" minlength="19" maxlength="19" />
                                                    <label class="form-label" for="typeText">Numéro de carte</label>
                                                </div>

                                                <div class="row mb-4">
                                                    <div class="col-md-6">
                                                        <div class="form-outline form-white">
                                                            <input type="text" id="typeExp" class="form-control form-control-lg"
                                                                   placeholder="MM/YYYY" size="7" id="exp" minlength="7" maxlength="7" />
                                                            <label class="form-label" for="typeExp">Expiration</label>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="form-outline form-white">
                                                            <input type="password" id="typeText" class="form-control form-control-lg"
                                                                   placeholder="&#9679;&#9679;&#9679;" size="1" minlength="3" maxlength="3" />
                                                            <label class="form-label" for="typeText">CGV</label>
                                                        </div>
                                                    </div>
                                                </div>

                                            </form>

                                            <hr class="my-4">

                                            <div class="d-flex justify-content-between">
                                                <p class="mb-2">Sous-total</p>
                                                <p class="mb-2">€</p>
                                            </div>

                                            <div class="d-flex justify-content-between">
                                                <p class="mb-2">Réduction</p>
                                                <p class="mb-2">€</p>
                                            </div>

                                            <div class="d-flex justify-content-between mb-4">
                                                <p class="mb-2">Total(TTC)</p>
                                                <p class="mb-2">{{ total }}€</p>
                                            </div>

                                            <button type="button" class="btn btn-info btn-block btn-lg">
                                                <div class="d-flex justify-content-between">
                                                    <span>{{ total }}€</span>
                                                    <span>Payer <i class="fas fa-long-arrow-alt-right ms-2"></i></span>
                                                </div>
                                            </button>

                                        </div>
                                    </div>

                                </div>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}