{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}

    <!-- Formulaire d'inscription -->

    <section class="container" style="padding-top: 8em">

        <form method="post">

            <h1>Inscription</h1>

            {{ form_errors(registrationForm) }}

            {{ form_start(registrationForm) }}
            <div class="row mb-4">
                <fieldset class="mt-5">
                    <legend>Identité</legend>

                    <div class="col-12 d-flex p-2">
                        <div class="col-6">
                            {{ form_row(registrationForm.userName, {'label':false}) }}
                        </div>
                        <div class="col-6">
                            {{ form_row(registrationForm.userFirstName, {'label':false}) }}
                        </div>
                    </div>
                    <div class="col-12 p-2">
                        {{ form_row(registrationForm.email, {'label':false}) }}
                    </div>
                </fieldset>

                <fieldset class="mt-5">
                    <legend class="">Contact</legend>

                    <div class="col-12">
                        <div class="p-2">
                            {{ form_row(registrationForm.userAdress, {'label':false}, {'class':''}) }}
                        </div>
                        <div class="p-2">
                            {{ form_row(registrationForm.userCity, {'label':false}) }}
                        </div>
                        <div class="p-2">
                            {{ form_row(registrationForm.userPC, {'label':false}) }}
                        </div>
                        <div class="p-2">
                            {{ form_row(registrationForm.userPhone, {'label':false}) }}
                        </div>
                        <div class="p-2">
                            {{ form_row(registrationForm.userType) }}
                        </div>
                    </div>
                </fieldset>

                </div>
            <!-- Password -->
            <div class="p-2">
                {{ form_row(registrationForm.plainPassword, { 'label':false }) }}
            </div>

            <!-- Checkbox -->
            <div class="form-check mt-5 mb-2">
                {{ form_row(registrationForm.RGPDConsent) }}
            </div>

            <!-- Submit -->
            <button type="submit" class="btn btn-primary btn-block mb-4" style="background: #8d3f7e">S'inscrire</button>
            {{ form_end(registrationForm) }}



        </form>

    </section>

{% endblock %}
