{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}

    <!-- Formulaire d'inscription -->

    <section class="container" style="padding-top: 8em">

        <form method="post">

            <h1>Inscription</h1>

            {{ form_errors(registrationForm) }}

            {{ form_start(registrationForm) }}
            <div class="row mb-4">
                <fieldset class="mt-5">
                    <legend>Identité</legend>

                    <div class="col-12 d-flex">
                        <div class="col-6">
                            {{ form_row(registrationForm.userName) }}
                        </div>
                        <div class="col-6">
                            {{ form_row(registrationForm.userFirstName) }}
                        </div>
                    </div>
                    <div class="col-12">
                        {{ form_row(registrationForm.email) }}
                    </div>
                </fieldset>

                <fieldset class="mt-5">
                    <legend class="">Contact</legend>

                    <div class="col-12">
                        {{ form_row(registrationForm.userAdress) }}
                        {{ form_row(registrationForm.userCity) }}
                        {{ form_row(registrationForm.userPC) }}
                        {{ form_row(registrationForm.userPhone) }}
                        {{ form_row(registrationForm.userType) }}
                    </div>
                </fieldset>

                </div>
            <!-- Password -->
            {{ form_row(registrationForm.plainPassword, { label: 'Password' }) }}

            <!-- Checkbox -->
            <div class="form-check d-flex justify-content-center mb-4">
                {{ form_row(registrationForm.RGPDConsent) }}
            </div>

            <!-- Submit -->
            <button type="submit" class="btn btn-primary btn-block mb-4" style="background: #8d3f7e">S'inscrire</button>
            {{ form_end(registrationForm) }}
            </div>


        </form>

    </section>

{% endblock %}
