{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}

    <!-- Formulaire d'inscription -->

    <section class="container" style="padding-top: 8em">

        <form method="post">

            <h1>Inscription</h1>

            {{ form_errors(registrationForm) }}

            {{ form_start(registrationForm) }}
            <div class="row mb-4">
                <div class="col">
                    <div class="form-label">
                            {{ form_row(registrationForm.email) }}
                    </div>

                    {{ form_row(registrationForm.userName) }}
                    {{ form_row(registrationForm.userFirstName) }}
                    {{ form_row(registrationForm.userAdress) }}
                    {{ form_row(registrationForm.userCity) }}
                    {{ form_row(registrationForm.userPC) }}
                    {{ form_row(registrationForm.userPhone) }}
                    {{ form_row(registrationForm.userType) }}
                </div>
                <div class="col">
                    <div class="form-outline">
                        <input type="text" id="form6Example2" class="form-control" />
                        <label class="form-label" for="form6Example2">

                        </label>
                    </div>
                </div>
            </div>


            {{ form_row(registrationForm.plainPassword, {
                label: 'Password'
            }) }}
            {{ form_row(registrationForm.RGPDConsent) }}

            <button type="submit" class="btn">Register</button>
            {{ form_end(registrationForm) }}

            <!-- 2 column grid layout with text inputs for the first and last names -->
            <div class="row mb-4">
                <div class="col">

                </div>

            </div>

            <!-- Text input -->
            <div class="form-outline mb-4">
                <input type="text" id="form6Example3" class="form-control" />
                <label class="form-label" for="form6Example3">Company name</label>
            </div>

            <!-- Text input -->
            <div class="form-outline mb-4">
                <input type="text" id="form6Example4" class="form-control" />
                <label class="form-label" for="form6Example4">Address</label>
            </div>

            <!-- Email input -->
            <div class="form-outline mb-4">
                <input type="email" id="form6Example5" class="form-control" />
                <label class="form-label" for="form6Example5">Email</label>
            </div>

            <!-- Number input -->
            <div class="form-outline mb-4">
                <input type="number" id="form6Example6" class="form-control" />
                <label class="form-label" for="form6Example6">Phone</label>
            </div>

            <!-- Message input -->
            <div class="form-outline mb-4">
                <textarea class="form-control" id="form6Example7" rows="4"></textarea>
                <label class="form-label" for="form6Example7"></label>
            </div>

            <!-- Checkbox -->
            <div class="form-check d-flex justify-content-center mb-4">
                <input class="form-check-input me-2" type="checkbox" value="" id="form6Example8" checked />
                <label class="form-check-label" for="form6Example8"> Créer un compte </label>
            </div>

            <!-- Submit button -->
            <button type="submit" class="btn btn-primary btn-block mb-4">S'inscrire</button>

        </form>

    </section>

{% endblock %}
