{% extends 'base.html.twig' %}

{% block title %}Détails produit {{ product.productLabel }}{% endblock %}

{% block body %}
<div class="container m-5">
    <!--Section: Content-->
    <section class="text-center mt-5">
        <h1 class="mb-5"><strong>Détails</strong></h1>
    </section>
    <div class="card mb-3 col-12" style="max-width: 1280px;">
        <div class="row g-0">
            <div class="col-md-7">
                <div id="carouselProduct" class="carousel slide carousel-fade" data-mdb-ride="carousel">
                    <div class="carousel-indicators">
                        <button
                                type="button"
                                data-mdb-target="#carouselProduct"
                                data-mdb-slide-to="0"
                                class="active"
                                aria-current="true"
                                aria-label="Slide 1"
                        ></button>
                        <button
                                type="button"
                                data-mdb-target="#carouselProduct"
                                data-mdb-slide-to="1"
                                aria-label="Slide 2"
                        ></button>
                        <button
                                type="button"
                                data-mdb-target="#carouselProduct"
                                data-mdb-slide-to="2"
                                aria-label="Slide 3"
                        ></button>
                    </div>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="{{ asset('assets/css/img/armes1.jpg') }}" class="d-block img-fluid" alt="{{ product.productLabel }}"/>
                        </div>
                        <div class="carousel-item">
                            <img src="{{ asset('assets/css/img/armes2.jpg') }}" class="d-block w-100" alt="Armes 2"/>
                        </div>
                        <div class="carousel-item">
                            <img src="{{ asset('assets/css/img/armes3.jpg') }}" class="d-block w-100" alt="Armes 3"/>
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-mdb-target="#carouselProduct" data-mdb-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-mdb-target="#carouselProduct" data-mdb-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
            <div class="col-md-5 d-flex justify-content-between">
                <div class="card-body">
                    <h5 class="card-title h2">{{ product.productLabel }}</h5>
                    <p class="card-text">{{ product.productDescription }}</p>
                    <p>Catégorie : {{ product.category.categoryName }}</p>
                    <p class="card-text">
                        <small class="text-muted h5"><strong>Prix : {{ product.productPrice }} euros</strong></small>
                    </p>
                    <div class="d-flex justify-content-end" style="padding-top: 5rem">
                        {% if product.productStock > 0 %}
                            <a href="{{ path('cart_add', { id: product.id }) }}" class="btn btn-outline-danger">Ajouter au panier</a>
                        {% else %}
                            <p class="text-danger">Temporairement en rupture de stock</p>
                        {% endif %}
                    </div>

                </div>
            </div>
        </div>
    </div>

</div>
    <!--Section: Content-->
{% endblock %}